body{
	     background:url(images/bg.jpg) no-repeat center top #b8b6bb;
	     padding:0;
		 margin:0;
		 color:#333;
		 font-family:Arial;
         font-size:11px;
    }
#main_block {
	 width:950px;
     height:auto;
	 margin:auto;
	 padding:0px;
	 position:relative;
	 background-color:white;
	}
#header{
	width:950px;
	height:175px;
	background:url(images/top_bg.jpg) top no-repeat;
	margin:0;
    padding:0;
	}
#logo{
	width:245px;
	height:61px;
	float:left;
	padding:35px 0 0 20px;
}
#latest {
        width:400px;
        height:auto;
        float:left;
        padding:0px 15px 0px 10px;
        border-left:1px #8c3426 dotted;
 		border-right:1px #8c3426 dotted;
        margin:20px 0 0 30px;
        }
.title{  
        padding:2px 0 2px 0;
        color:#409efd;
		font-size:14px;
		font-weight:bold;
      }	
p     { 
         margin:0px;
         padding:5px 0 0 0;
	     line-height:15px;
		 text-align:justify;
	}
.podpis{font-weight:bold;
        color:#E459EF;
		}
#lf {
     float:right;
     padding:3px;
	 margin:0 0 0 10px;
     border:1px #E459EF solid;
    }
#center_content{
    width:950px;
	height:auto;
	clear:both;
	padding-top:0;
	 background:url(images/center_bg.gif) no-repeat top center;
	 }
.menu {
       clear:both;
       height:40px;
       padding:0 0 0 30px;
	  	  }
.menu a {
        padding-right:18px;
        text-decoration:none;
        font-style:italic;
        font-weight:600;
		color:black;
        font-size:14px;
      }
.menu a:hover{
      color:#E459EF;
      text-decoration:none:
	  } 
.left_content{ 	
	width:400px;
	float:left;
	padding:20px;
 }
.right_content{ 	
	width:200px;
	float:left;
	padding:20px 10px 10px 10px;
 }
ul.spisok{
    list-style-image:url(images/list_arrow.gif);
    list-style-position:inside;
	padding:0px;
    margin:0px;
	line-height:30px;
}
ul.spisok li a{
	padding:10px 0 10px 0;
	margin:10px 0 10px 0;
	color:black;
	font-style:normal;
	text-decoration:none;
}
ul.spisok li a:hover{
    text-decoration:underline;color:#E459EF;
}
#me {	
	position:absolute;
	top:230px;
	right:40px;
    z-index:1000;}
.fotos{ 	
	width:auto;
	height:auto;
	clear:both;
	padding:15px;
	margin-bottom:10px;
	 }
.box {
    width:199px;
	height:164px;
	float:left;
	padding:20px 12px 10px 12px;
	text-align:center;
	}
.ev {
	 padding:3px;
	 border:1px #409efd solid;
}
.pustoy {
	clear:both;
}
#footer{
     width:950px;
     height:51px;
	 color:#E459EF;
	 background:url(images/footer.gif) repeat-x;
     padding-top:30px;
	 text-align:center;
} 